{% extends 'base.html' %}

{% block head %}
<section class="bread-crumbs">
    <div class="container-fluid">
        <div class="wrapper row">
            <span class="container text-dark ">
                <a href="/home" class="text-dark">Home</a> > <a>Shop
            </span>
        </div>
    </div>
</section>
{% endblock %}

{% block main %}
<section>
    <div class="container mt-3">
        <div class="">
            <span class="text-dark mr-2">
                Order by
            </span>
            <a class="btn-sm btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if sortby == 'most-popular' %}
                Most Popular
                {% endif %}
                {% if sortby == 'price' %}
                Price
                {% endif %}
                {% if sortby == 'review' %}
                Review
                {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/shop/most-popular">Most Popular</a>
                <a class="dropdown-item" href="/shop/price">Price</a>
                <a class="dropdown-item" href="/shop/review">Review</a>
            </div>
        </div>
    </div>
</section>
<section style="margin: 30px 0 20px 0">
    <div class="container">
        <div class="card-deck">
            {% for product in products%}
            <div class="col-lg-4 col-md-6 col-sm-12 text-dark">
                <a href="/product/{{product.id}}">
                    <img class="card-img-top" src="{{url_for('static', filename='img/' + product.image)}}"
                        height="250px" alt="Card Image">
                </a>
                <div class="card-body text-center">
                    <a href="/product/{{product.id}}">
                        <h3 class="card-title text-truncate mb-0">{{product.name}}</h3>
                        <div class="text-warning">
                            {% if product.fullstar > 0 %}
                            {% for review in range(0, product.fullstar)%}
                            <span class="fas fa-star"></span>
                            {% endfor %}
                            {% endif %}
                            {% if product.halfstar %}
                            {% for review in range(0, 1)%}
                            <span class="fa fa-star-half-alt"></span>
                            {% endfor %}
                            {% endif %}
                            {% if product.emptystar > 0 %}
                            {% for review in range(0, product.emptystar)%}
                            <span class="far fa-star"></span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <p>${{product.price}}</p>
                    </a>
                    <a href="/order" class="btn btn-danger btn-md">Add to Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}