{% extends 'base.html' %} 

{% block head %}
<section class="bread-crumbs">
    <div class="container-fluid">
        <div class="wrapper row">
            <span class="container text-dark ">
                <a href="/home" class="text-dark">Home</a> > <a>Shop
            </span>
        </div>
    </div>
</section>
{% endblock %}

{% block main %}
<section class="bread-crumbs">
    <div class="container-fluid">
        <div class="wrapper row">
            <span class="container text-dark ">
                Order By
            </span>
        </div>
    </div>
</section>
<section style="margin: 20px 0 20px 0">
    <div class="container">
        <div class="card-deck">
            {% for product in products%}
            <a href="/product/{{product.id}}" class="col-lg-4 col-md-6 col-sm-12 text-dark" style="cursor: pointer;">
                <img class="card-img-top" src="{{url_for('static', filename='img/' + product.image)}}" height="250px" alt="Card Image">
                <div class="card-body text-center">
                    <h3 class="card-title text-truncate mb-0">{{product.name}}</h3>
                    <div class="text-warning">
                        <div class="text-warning">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>${{product.price}}</p>
                    <button type="button" class="btn btn-danger btn-md">Add to Cart</button>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}   
       